<%= render 'shared/errors', obj: @user %>

<div class="container">
  <%= render 'layouts/messages' %>
    <h1>Welcome to <%= @user.username %>'s page.</h1>
    <div class="well col-md-8 col-md-offset-2">
      <div class="center">
        <%= gravatar_for(@user) %>
      </div>
      <h4 align="center"><%= @user.username %>'s articles:</h4>
      <div class="center">
        <li><%= link_to "#", "#" %></li>
      </div>
    </div>
</div>